<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Configuration</title>
    <link rel="stylesheet" type="text/css" href="../style.css"/>
</head>
<body>
<table>
    <tr>
        <th>Configuration</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Session Max Age</td>
        <td><%= sessionMaxAge %></td>
    </tr>
    <tr>
        <td>Number of CPUs</td>
        <td><%= numCpus %></td>
    </tr>
    <tr>
        <td>platform</td>
        <td><%= platform %></td>
    </tr>
    <tr>
        <td>version</td>
        <td><%= version %></td>
    </tr>
    <tr>
        <td>rssMemoryUsage</td>
        <td><%= rssMemoryUsage %></td>
    </tr>
    <tr>
        <td>execPath</td>
        <td><%= execPath %></td>
    </tr>
    <tr>
        <td>pid</td>
        <td><%= pid %></td>
    </tr>
</table>
</body>
</html>